<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="laser_cut_base_plate" params="parent *origin">
<!--<xacro:macro name="laser_cut_base_plate">-->
    <!-- mold -->
    <link name="laser_cut_base_plate">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
<!--          <mesh filename="package://spiral_search_example/meshes/GMC_Laser_Plate_Virtual.STL" scale="0.0254 0.0254 0.0254"/>-->
          <mesh filename="package://spiral_search_example/meshes/GMC_Laser_Plate_Virtual.STL" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="blue">
          <color rgba="0 0 1 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0"/>
        <geometry>
<!--          <mesh filename="package://spiral_search_example/meshes/GMC_Laser_Plate_Virtual.STL" scale="0.0254 0.0254 0.0254"/>-->
          <mesh filename="package://spiral_search_example/meshes/GMC_Laser_Plate_Virtual.STL" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

<!--    <joint name="${parent}_to_siemens_base_plate" type="fixed">
      <parent link="${parent}"/>
      <child link="siemens_base_plate"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <link name="siemens_base_plate_hole" />

    <joint name="base_plate_to_hole" type="fixed">
      <parent link="siemens_base_plate"/>
      <child link="siemens_base_plate_hole"/>
      <origin xyz="0 .118 0" rpy="0 0 0"/>
    </joint>-->

  </xacro:macro>
</robot>
