<?xml version="1.0"?>

<launch>
  <arg name="algorithm_selected" default="spiral_search" doc="Select the algorithm to be used: spiral_search or corner_search"/>
  <rosparam file="$(find conntact)/config/peg_in_hole_params.yaml" />
  <rosparam file="$(find conntact)/config/conntact_config.yaml" />
  <remap from="/wrench" to="/cartesian_compliance_controller/ft_sensor_wrench"/>
  <!--   That's UR-specific! -->

  <include file="$(find ur_robot_driver)/launch/ur10e_bringup.launch" >
    <arg name="robot_ip" default="172.31.1.137" doc="SwRI Collaborative Lab's UR10e IP Address" />
    <arg name="kinematics_config" value="$(find conntact)/config/my_robot_calibration.yaml" doc="Yaml with calib values from your physical robot."/>
    <arg name="headless_mode" default="true" doc="At SwRI Collaborative Lab, we do not use URCap, so headless_mode is required" />
    <arg name="stopped_controllers" value="cartesian_compliance_controller" doc="Controllers that are initally loaded, but not started."/>

<!--     <arg name="controllers" default="joint_state_controller force_torque_sensor_controller cartesian_compliance_controller" doc="Controllers that are activated by default."/> -->
    <arg name="controllers" default="joint_state_controller force_torque_sensor_controller pos_joint_traj_controller" doc="Controllers that are activated by default."/>
    <arg name="controller_config_file" default="$(find conntact)/config/ur10e_controllers.yaml" doc="Config file for defining the ROS-Control controllers for assembly application" />
  </include>

  <param name="robot_description" command="$(find xacro)/xacro '$(find conntact)/urdf/workcell.urdf.xacro'" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find conntact)/config/basic_config_example.rviz" required="true" />

  <node type="plotting_node" name="assembly_plotter" 
    pkg="conntact" output="screen" required="false" />
  <node type="$(arg algorithm_selected)_node" name="algorithm_node"
    pkg="conntact" output="screen" required="true" />

</launch>



