<?xml version="1.0"?>

<launch>
<!--TODo Add Arguments-->
<!--  <arg name="gripper_name" default="robotiq_gripper" doc="Name given to the robotiq gripper" />-->

  <rosparam file="$(find peg_in_hole_demo)/config/peg_in_hole_params.yaml" />

<!--TODo remap /wrench to controller-->
<!--  <remap from="/wrench" to="/TODo..."/>-->

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find peg_in_hole_demo)/config/basic_config_example.rviz"/>

<!--  <node name="peg_in_hole_demo_node" pkg="peg_in_hole_demo" type="peg_in_hole_demo_node" output="screen" required="true">
    <param name="serial_device" type="str" value="$(arg robotiq_serial_device)"/>
    <remap from="Robotiq2FGripperRobotInput" to="$(arg gripper_name)/input" />
    <remap from="Robotiq2FGripperRobotOutput" to="$(arg gripper_name)/output" />
  </node>-->

</launch>

